aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
contourpy
cycler
discord
discord.py
fonttools
frozenlist
idna
kiwisolver
matplotlib
multidict
numpy
packaging
Pillow
pyparsing
python-dateutil
requests
six
urllib3
yarl
